form {
    font-size: 17px;
    display: block;
}

.Form-Content {
    display: block;
    width: 350px;
    padding: 20px;
    border-radius: 15px;
    background: red;
    color: whitesmoke;
    font-weight: 600;
}

form button {
    font-size: 17px;
}

form label {
    font-weight: 600;
    text-align: left;
}

form input {
    padding: 5px;
    border-radius: 0;
    font-size: 17px;
    margin-bottom: 10px;
}

.form-input-center {
    display: flex;
    justify-content: center;
}

form input {
    outline: none;
    border: 1px solid  blue;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 3px 5px 0 rgba(0,0,0,0.19) !important;
    padding: 10px;
    width: 250px;
}

form input:focus {
    outline: none;
    border: 1px solid #FFFFCC;
    width: 300px;
    transition: .2s linear;
}

form input:active {
    outline: none;
}