form {
    font-size: 17px;
    display: block;
}

form button {
    font-size: 17px;
}

form label {
    font-weight: 600;
    text-align: left;
}

form input {
    padding: 5px;
    border-radius: 0;
    font-size: 17px;
    margin-bottom: 10px;
}

.form-input-center {
    display: flex;
    justify-content: center;
}