body {
  margin: 0;
  min-width: fit-content;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  background-color: #9bddff;
}

.nav-logo {
  text-align: center;
}

.nav-logo h2 {
  margin: 7px 0;
}

.nav-logo h5 {
  margin: 7px 0;
}

nav ul {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
}

nav ul li {
  padding: 0;
  padding-right: 15px;
  margin: 0;
}

nav ul li:last-child {
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: black;
}

nav ul li a:hover{
  color: #3a3b3c;
}

.page-content-wrapper {
  min-width: fit-content;
  margin: 0;
  padding: 19px;
}

.page-content-wrapper h1, h2, h3, h4, h5 {
  text-align: center;
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.btn-center button {
  margin-right: 15px;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
}