body {
  margin: 0;
  min-width: fit-content;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/img/background.jpg');
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1000px) {
  body {
    background-image: url('./assets/img/mobile-background.jpg');
  }
}

@media only screen and (min-width: 2000px) {
  body {
    background-image: url('./assets/img/background-large.jpg');
  }
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  height: 70px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  background-color: #9bddff;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 3px 5px 0 rgba(0,0,0,0.19) !important;
}

.nav-logo {
  text-align: center;
}

.nav-logo h2 {
  margin: 7px 0;
}

.nav-logo h5 {
  margin: 7px 0;
}

nav ul {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
}

nav ul li {
  padding: 0;
  padding-right: 15px;
  margin: 0;
}

nav ul li:last-child {
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: black;
}

nav ul li a:hover{
  color: white;
}

.nav-drop-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-drop-menu button {
  width: 30px;
  height: 30px;
}

.nav-drop-menu-links {
  display: block;
  position: absolute;
  width: 100%;
  right: 0;
  top: 70px;
  background: white;
}

.nav-drop-menu-links a {
  display: block;
  padding: 10px;
  font-weight: 600;
  color: black
}

.nav-drop-menu-links a:hover {
  background: orange;
  color: white;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.container:hover {
  opacity: .9;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
}

.change:hover {
  cursor: pointer;
  opacity: .9;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.page-content-wrapper {
  display: block;
  margin: 0 auto;
  padding: 19px;
}

.page-content-wrapper h1, h2, h3, h4, h5 {
  text-align: center;
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.btn-center p {
  margin-right: 15px;
}

.btn {
  color: white;
  background: tomato;
  padding: 5px 7px;
  border-radius: 5px;
}

.btn:hover {
  opacity: .9;
  cursor: pointer;
}

.btn:active {
  opacity: .8;
}

.link {
  color: red;
  background: whitesmoke;
  padding: 5px 7px;
  border-radius: 5px;
}

.link:hover {
  opacity: .9;
  cursor: pointer;
}

.link:active {
  opacity: .8;
}

.error-message {
  color: red;
  font-weight: 500;
  font-size: 13px;
  background: yellow;
  border-radius: 35px;
  text-align: center;
  padding: 1px;
}

.Landing-Page-Content{

  background: #FFFFCC;
  border-radius: 10px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 3px 5px 0 rgba(0,0,0,0.19) !important;
  padding: 10px;

}