body {
  margin: 0;
  margin-top: 70px;
  min-width: fit-content;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(44, 39, 39);
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  background-color: #9bddff;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 3px 5px 0 rgba(0,0,0,0.19) !important;
}

.nav-logo {
  text-align: center;
}

.nav-logo h2 {
  margin: 7px 0;
}

.nav-logo h5 {
  margin: 0;
}

nav ul {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
}

nav ul li {
  padding: 0;
  padding-right: 15px;
  margin: 0;
}

nav ul li:last-child {
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: black;
}

nav ul li a:hover{
  color: white;
}

.nav-drop-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-drop-menu-links {
  display: block;
  position: absolute;
  width: 100%;
  right: 0;
  top: 70px;
  background: white;
}

.nav-drop-menu-links a {
  display: block;
  padding: 10px;
  font-weight: 600;
  color: black
}

.nav-drop-menu-links a:hover {
  background: rgb(44, 39, 39);
  color: white;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.container:hover {
  opacity: .9;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.change:hover {
  cursor: pointer;
  opacity: .9;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.page-content-wrapper {
  margin: 0;
  display: block;
  justify-content: center;
}

.page-content-wrapper h1, h2, h3, h4, h5 {
  text-align: center;
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.btn-center p {
  margin-right: 15px;
}

.btn {
  color: black;
  background: #9bddff;
  padding: 5px 7px;
  border-radius: 5px;
}

.btn:hover {
  opacity: .9;
  cursor: pointer;
}

.btn:active {
  opacity: .8;
}

.link {
  color: black;
  background: whitesmoke;
  padding: 5px 7px;
  border-radius: 5px;
}

.link:hover {
  opacity: .9;
  cursor: pointer;
}

.link:active {
  opacity: .8;
}

.error-message {
  color: red;
  font-weight: 500;
  font-size: 13px;
  background: #FFFFCC;
  border-radius: 35px;
  text-align: center;
  padding: 1px;
}

.landing-page-content {
  display: flex;
  justify-content: center;
}


.info-card {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #9bddff;
  padding: 15px 15px;
  margin: 5px;
  position: absolute;
  z-index: -5;
  top: 15%;
}

.about-me {
  padding: 10px 15px;
  margin: 5px;
  z-index: -5;
}

.Headshot {
  max-width: 350px;
  min-width: 350px;
}

@keyframes smallRotate{
  25% {transform: rotate(25deg);}
  50% {transform: rotate(-25deg);}
  100% {transform: rotate(0deg);}
}


.Headshot:hover{
  animation-name: smallRotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.Disclaimer {
  text-align: center;
  position: fixed;
  bottom: 0;
  background: tomato;
  margin: 10px;
  padding: 2px 20px;
  border-radius: 15px;
}

.Disclaimer button {
  position: absolute;;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  outline: none;
}

.Disclaimer button:hover {
  font-weight: 600;
  color: white;
}

.Disclaimer button:active {
  background: none;
  border: none;
  outline: none;
}

/* Mobile Tweaks */
@media screen and (max-width: 1200px) {

  .Headshot{
    max-width: 330px;
    max-height: 500px;
  }

  .info-card{
    background: none;
    color: #9bddff;
  }
  
}